/*
These are good starters to a responsive and non-bloated CSS.
Found out about from these webpages:
https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/
https://www.heydonworks.com/article/on-writing-less-damn-code
https://css-tricks.com/css-modules-part-1-need/
https://github.com/css-modules/css-modules#composition

https://github.com/css-modules/webpack-demo
^-------haven't used this, but I want to. look up just css modules on github

.grid {
	display: flex;
	flex-flow: row wrap;
}

*/

html,
body {
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: 1.5em;
  font-family: "nb_akademie_light", "Microsoft Yahei", "STXihei", "sans-serif";
  color: #777;
  background-image: url("../images/backgrounds/topography.png");
  background-size: inherit;
  background-repeat: repeat;
}

* {
  box-sizing: border-box;
}

.grid {
}

p {
}

h1,
h2,
h3 {
  font-family: "Times New Roman";
  font-weight: 700;
  color: #4aaaa5;
  border-bottom: 0.2em solid #d3cdcd;
  padding-bottom: 0.75em;
}

h2,
h3 {
  font-size: 0.75em;
}

.header {
  margin: 0;
  z-index: 99;
  color: #fff;
  overflow: auto;
  border-bottom: 0.2em solid #4aaaa5;
  /*position: fixed;*/
  width: 100%;
  background-image: url("../images/curls.png");
  background-size: inherit;
  background-repeat: repeat;
}

.logo {
  width: 250px;
  height: 90px;
  background: #4aaaa5;
  float: left;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  line-height: 90px;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
}

nav {
  position: relative;
  margin-top: 25px;
}

nav a {
  color: #999;
  text-decoration: none;
  margin-left: 0.3em;
  display: inline-block;
  border-left: 0.1em solid #efefef;
  padding-left: 0.15em;
  line-height: 0.18em;
}

nav a:first-child {
  border-left: 0 none;
}

.aboutMe {
  /*not referenced atm, put into grid, find out how yoooo. it's just a grid....it should make sense*/
  background: #fff;
  /* opacity: 0.85; */
  margin: 200px 0 30px 0;
  max-width: 650px;
  min-width: 650px;
  max-height: 50%;
  min-height: 33.3%;
  /*  float: left;
  position: absolute;*/
}

#name,
#email,
#message,
#list {
  width: 100%;
  height: 100%;
}

.headshot {
  width: 200px;
  height: auto;
  margin-top: 10px;
  float: left;
  margin-right: 25px;
}

.connect {
  /*fix this, or just remove it and add glyph links to a row before the footer or in it*/
  margin: auto;
  background: rgba(255, 255, 255, 0);
  text-align: center;
  padding: 30px;
  min-width: 25%;
  max-width: 25%;
  min-height: 5%;
  max-height: 5%;
  top: auto;
  left: 66.6%;
}

h3,
.connect,
h2 {
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
}

.connect:last-child {
  margin-right: 0px;
}

.footer {
  width: 100%;
  bottom: 0;
  margin-top: 20em;
  padding: 30px 0;
  color: #fff;
  position: static; /* make static for portfolio page*/
  font-size: 12px;
  text-align: center;
  border-top: 6px solid #4aaaa5;
  background-color: #4aaaa5;
  background-image: url("../images/curls.png");
  background-size: inherit;
  background-repeat: repeat;
}
